@charset "utf-8";
*{box-sizing: border-box;}
html, body{margin: 0; padding: 0;}
ul, ol{list-style: none; padding: 0; margin: 0;}



section{padding-top: 100px;background-image: url(../images/bg.jpg); height: 100vh; background-attachment: fixed; background-size: cover;}
section .wrap{width: 650px; margin: 0 auto;}
section .wrap .select{}
section .wrap .select .hero{display: flex; flex-wrap: wrap; justify-content: center;}
section .wrap .select .hero li{width: 80px; height: 80px; border: 3px solid #fff; margin: 5px; border-radius: 10px; transform: skew(-14deg); overflow: hidden; background-color: #555;}
section .wrap .select .hero li:hover{background-color: #ffa200; transform: scale(1.3) skew(-14deg); transition: background-color .3s, transform 0.3s;}

section .wrap .select .hero li img{height: 100%; transform: skew(14deg);}

.logo{text-align: center; padding-top: 50px;}
.logo img{width: 300px;}
